/* Styling for the authentication buttons */
.auth-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.auth-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Styling for the GitHub button */
#github-login-button {
  background-color: #333;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

#github-login-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Styling for the Google button */
#google-login-button {
  background-color: #ea4335;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

#google-login-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
